
<!-- FOOTER -->
<footer id="footer">
    <div class="container">

        <div class="row">

            <!-- col #1 -->
            <div class="logo_footer dark col-md-3">

                <img alt="" src="/assets/images/olm_logo-transparent.png" height="50" class="logo" />

                <p class="block">
                    <br />
                    <br />
                    Email: support@onelifemedia.com<br />
                    Phone: 412 877-8721<br />
                </p>

                <p class="block"><!-- social -->
                    <a href="#" class="social fa fa-facebook"></a>
                    <a href="#" class="social fa fa-twitter"></a>
                    <a href="#" class="social fa fa-google-plus"></a>
                    <a href="#" class="social fa fa-linkedin"></a>
                </p><!-- /social -->
            </div>
            <!-- /col #1 -->

            <!-- col #2 -->
            <div class="spaced col-md-3 col-sm-4 hidden-xs">
            </div>
            <!-- /col #2 -->


            <!-- col #4 -->
            <div class="spaced col-md-3 col-sm-4">
                <h4>About <strong>Us</strong></h4>
                <p>
                    Incredibly beautiful and responsive websites, mobile apps, and social media for your business.
                </p>


            </div>
            <!-- /col #4 -->

        </div>

    </div>

    <hr />

    <div class="copyright">
        <div class="container text-center fsize12">
            All Right Reserved &copy; Onelife Media &nbsp;
        </div>
    </div>
</footer>
<!-- /FOOTER -->

<a href="#" id="toTop"></a>
