
    <div id="header"><!-- class="sticky" for sticky menu -->

        <!-- Top Bar -->
        <header id="topBar">
            <div class="container">

                <div class="pull-right fsize13 margin-top10 hide_mobile">

                    <!-- mail , phone -->
                    <a href="mailto:{{ site.email }}">{{ site.email }}</a> &bull; 412 877-8521

                    <div class="block text-right"><!-- social -->
                        <a href="#" class="social fa fa-facebook"></a>
                        <a href="#" class="social fa fa-twitter"></a>
                        <a href="#" class="social fa fa-google-plus"></a>
                        <a href="#" class="social fa fa-linkedin"></a>
                        <a href="#" class="social fa fa-pinterest"></a>
                    </div><!-- /social -->

                </div>

                <!-- Logo -->
                <a class="logo" href="/">
                    <img src="/assets/images/olm_logo.png" height="50" alt="" />
                </a>

            </div><!-- /.container -->
        </header>
        <!-- /Top Bar -->


        <!-- Top Nav -->
        <header id="topNav">
            <div class="container">

                <!-- Mobile Menu Button -->
                <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Search -->
                <form class="search" method="get" action="search.html">
                    <input type="text" class="form-control" name="s" value="" placeholder="Search">
                    <button class="fa fa-search"></button>
                </form>
                <!-- /Search -->

                <!-- Top Nav -->
                <div class="navbar-collapse nav-main-collapse collapse">
                    <nav class="nav-main">

                        <!--
                        NOTE

                        For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
                        Direct Link Example: 

                        <li>
                            <a href="#">HOME</a>
                        </li>
                        -->
                        <ul id="topMain" class="nav nav-pills nav-main">
                            <li class="{% if page.url == '/' %}active{% endif %}">
                                <a href="/">
                                    HOME <span>welcome</span>
                                </a>
                            </li>
                            <!--li class="{% if page.url == '/blog/' %}active{% endif %}">
                                <a href="/blog/">
                                    BLOG <span>recent news</span>
                                </a>
                            </li-->
                            <li class="{% if page.url == '/about/' %}active{% endif %}">
                                <a href="/about">
                                    ABOUT <span>just us</span>
                                </a>
                            </li>
                        </ul>

                    </nav>
                </div>
                <!-- /Top Nav -->

            </div><!-- /.container -->
        </header>
        <!-- /Top Nav -->

    </div>
