---
layout: page
title: Recent News
permalink: /blog/
breadcrumbs: Blog
---


<div id="blog">

	<!-- BLOG ARTICLE LIST -->
	
	{% for post in paginator.posts %}
		{% include post-summary.html %}
	{% endfor %}

	<!-- pagination -->
	<div class="text-center">

		<ul class="pagination">
			<li class="disabled"><a href="#">&laquo;</a></li>
			<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>

	</div>
	<!-- /pagination -->

	<!-- /BLOG ARTICLE LIST -->
</div>
